# DEBUG: NPM_TOKEN should resolve to actual token below
@alianzacap:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# DEBUG: If you see ${NPM_TOKEN} above, variable substitution failed

